*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: brown; */
}

#form1{
    width: 98%;
    height: 90%;
    /* margin-top: 50px; */
    /* background-color: #A8CC9F; */
    display: flex;
    flex-direction: column;
}

.asdf{
  flex: 1;
  /* background-color: aqua; */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding: 10px;
  

}

.bghyui{
  border-color:#6c757d;
  width:70%;
  min-width: 300px;
  border-radius:10px; 
  padding: 10px;
  height: 100%;
}

.bhui{
  border: 1px solid black;
  display:flex;
  flex-direction:column;
  background-color:#6c757d;
  min-width: 300px;
  width:350px;
  /* height:100%; */
  border-radius:10px; 
  color:#fff;
  padding:10px;
  gap:12px;
  
}

@media (max-width:769px){

  .asdf{
    
    flex-direction: column-reverse;
    
  
  }

  .bghyui{
    
    height: 170%;
    width: 100%;
  }

  .bhui{
   
    width:100%;
    
  }


}



@media (max-width:569px){

 .bbnm{
  font-size: small;
 }

 
}

.njkui{
  width: 70%;
  background-color: aquamarine;
  height: 50%;

}



.vnbjf{
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom:10px;
  border-radius:0px, 10px, 10px, 0px;
  padding:5px;
  /* background-color: blueviolet; */
}

button {
    margin: 5px;
}

.switchh {
    margin:auto

}

.cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 70px;
}

.card {
    width: 24rem;
    margin: 20px;
    display: inline-block

  }

  .card a{
    position: absolute;
    bottom: 10px;
    right: 10px;

  }  

  .imgheight{
    height: 150px;
  }

  /* .btnbox{
    display: flex;
  } */

  .loader {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .spinner {
    position: absolute;
    margin-top: 500px;
  }
  .badge{
    z-index: 1;
  }

  .start-100 {
    left: 88%!important;
}
.myAlert{
  position:absolute;
  top: 70px;
  width: 100%;
}

.abt{
  position:absolute;
  top: 70px;
  width: 100%;
  justify-content: center;

}


.bjio{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  line-height: 10px;

}

